<template>
    <div>
        <h1>One Way Databinding</h1>
        <h2>{{ name }}</h2>
        <h3>{{ login.user }} {{ login.pass }}</h3>
        <h4>{{ volley[0] }} {{ volley[1] }}</h4>
    </div>
</template>

<script>
const name = 'Wutipong Wangrat'
const login = { user: "Wutipong", pass: "1234"};//object
const volley = ["Thailand","Japan"];//array 
export default{
    name: 'DataBinding',
    data(){
        return {
            name,
            login,
            volley,
        };
    }
}

</script>

<style>

</style>