<template>
  <div>
    <h1>Week3: Data and Databinding</h1>
    <hr>
    <DataBind/>
    <method/>
  </div>
</template>

<script>
import DataBind from "./components/databinding.vue"
import method from "./components/Method.vue"
export default{
  name: 'App',
  components: {
    DataBind,
    method,
    
  },
};
</script>

<style>

</style>